extends layout

block content
  div(class="container")
    nav(class="navbar navbar-default")
      div
        ul(class="nav navbar-nav navbar-left")
          li 
            a(href="/home") Home
          li
            a(href="/graphql") Query
          li
            a(href="/logout") Logout
          
  div(class="col-sm-10 col-sm-offset-2")
    h1 Welcome #{user.username} 
    
    each provider in Object.keys(authProviders).filter((provider) => {return provider != "local"}).sort((provider) => { return authProviders[provider]})
      - var prettyName = provider[0].toUpperCase() + provider.slice(1);


      if(authProviders[provider])
        h3 
          div You have authorized Social Sense to use #{prettyName}
            i(class="fa fa-" + provider aria-hidden="true")

      else
        h1 Please authorize Social Sense to query #{prettyName} 
          a(href="/login/" + provider) here 
