extends layout

block content
  div(class="col-sm-10 col-sm-offset-2")
    h1 Welcome to the Social Universe Observatory
    h3 
      a(href="/login") Please Login
    h3 Don't have an account?
      a(href="/register") Register Here
