html
  head
    title Social Sense: A Social Universe Observatory
    meta(charset="UTF-8")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

  body
    if error
      div(class="alert alert-danger" role="alert")=error
    if warning 
      div(class="alert alert-warning" role="alert")=warning
    if success 
      div(class="alert alert-danger" role="alert")=success

    block content 
