extends layout

block content
  div(class="col-sm-6 col-sm-offset-3")
    form(class="form-signup" action="/register" method="POST")
      h2(class="form-signin-heading") Register Here!
      br
      div(class="form-group")
        label(for="username" class="sr-only") Username
        input(type="username" name="username" class="form-control" placeholder="Username" required="required")

      div(class="form-group")
        label(for="password" class="sr-only") Password
        input(type="password" name="password" class="form-control" placeholder="Password" required="required")
      
      button(class="btn btn-lg btn-primary btn-block" type="submit") Sign Up!
